header{
    background-color:rgba(255, 144, 14, 0.1)
}
nav{
       margin:0 auto;
    max-width: 1440px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    
    align-content: center;
}
.nav-container .menu-items {
    list-style: none;
    display: flex;
    gap:100px;
  font-size:18px;
  font-weight: 700;
 
  margin-top: 50px;
  

}
 .nav-container a{
    text-decoration: none;
    color: #131313;

}
.nav-container .logo {
    font-size: 45px;
    font-weight: bold;
    color: #131313;
}
.banner{
       margin:0 auto;
    max-width: 1440px;

}
.banner-container{
    text-align: center;
    margin-bottom: 109px;
    
}
.banner-text h1{
    font-size: 64px;
    font-weight: bold;
    color: #131313;
  

}
.banner-text p{
    
    width: 862px;
    height: 52px;
    margin-left: 250px;
   font-size: 16px;
   color: #727272;
 
}
.bttn{
    padding: 25px 21px;
    border: none;
    border-radius: 10px;
    background-color: #FF900E;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;

}
.banner-img{
    width: 1400px;
    height: 700px;
}
.body-part1{
     text-align: center;
    margin-bottom: 109px;

}
.features-container{
    display: flex;
    align-items: center;
    
  

    justify-content: space-around;
    gap: 73px;
  
}
.features-container .imgs{
    display: grid;
     grid-template-columns: repeat(2, 1fr);
   
  


}
.txt p{
    width: 537PX;
    height: 78PX;
    color: #727272;
    font-size: 16px;
}

.sec-portion{

      
        display: flex;
        align-items: center;
        justify-content: space-around;

}

.img-button-container img{
   margin-top: -90px

}
.img-exp button{
    width: 342px;
    height: 200px;
    color: aliceblue;
    background-color: orange;
    
    
 

}
.third-portion-container{
       
    margin:0 auto;
    max-width: 1440px;

}

.card-container-third{
     display: grid;
    grid-template-columns: repeat(4,1fr);
}

.card{
        border:1px solid #fab361;
    padding: 36px 46px;
    text-align: center;
   margin-right: 20px;
   margin-top:100px ;
   border-radius: 5px;
box-shadow:0px  0px 3px  rgb(164, 163, 163);

}
.footer-contents{
     margin:0 auto;
    max-width: 1440px;
    

}
.sponser-container{
text-align: center;
}
.imgs-sponsers ul {
  display: flex;
  justify-content: center;   
  align-items: center;       
  gap: 200px;                
  list-style: none;          
  padding: 0;
  margin-top: 130px;
}

.imgs-sponsers img {
  max-width: 1440px ;        
  height: auto;
}
.copy-rights{


margin-top: 130px;
font:20px;
background-color: #FFF4E7;
width: 1240px;
height: 100px;



}