header{
    background-color:rgba(255, 144, 14, 0.1)
}
nav{
       margin:0 auto;
    max-width: 1440px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    
    align-content: center;
}
.nav-container .menu-items {
    list-style: none;
    display: flex;
    gap:100px;
  font-size:18px;
  font-weight: 700;
 
  margin-top: 50px;
  

}
 .nav-container a{
    text-decoration: none;
    color: #131313;

}
.nav-container .logo {
    font-size: 45px;
    font-weight: bold;
    color: #131313;
}
.banner{
       margin:0 auto;
    max-width: 1440px;

}
.banner-container{
    text-align: center;
    margin-bottom: 109px;
    
}
.banner-text h1{
    font-size: 64px;
    font-weight: bold;
    color: #131313;
  

}
.banner-text p{
    
    width: 862px;
    height: 52px;
    margin-left: 250px;
   font-size: 16px;
   color: #727272;
 
}
.bttn{
    padding: 25px 21px;
    border: none;
    border-radius: 10px;
    background-color: #FF900E;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;

}
.banner-img{
    width: 1400px;
    height: 700px;
}